# 登录用
User:
  mobile :  '185xxx89'
  password: 'xxx'
  # 登录后再请求报文可以看到
  authentication :  'xxx'
  # 5.2 对年龄超过6周岁但不超过14周岁或者身高超过1.2米但不超过1.5米的未成年人，应当执行客票半价优待。
  # 对有成年人陪伴的年龄不超过6周岁或者身高不超过1.2米，且不占用座（铺）位的未成年人免费并出具免费票（1周岁以下未成年人不计入乘客定额）；
  # 如未成年人需要单独占用座（铺）位的，应当执行客票半价优待。每位成年旅客可带两名持免费票的未成年人，超过两名未成年人时，对超过的应当执行客票半价优待。
  # 5.3 网上购票时，成人乘客如有携带身高不足1.2米的儿童，购票时必须点击“携童（1.2M以下）”选项，并填写儿童或跟随成人身份信息，否则成人及儿童都将无法乘船。售票窗口购票须在购票时申报。
  # 5.4 购买儿童半价票时，须填写儿童二代身份证号码进行购票。在检票时携带儿童相关身份证明进行验证，验证成功后方可乘船。
  # 指定乘客信息[不填默认所有联系人]
  passengers:
    - 张三
  childPassengers:
    - 李四
  addFreeChild:
    - 王五
  vehicle:
    - 沪A888888

# 出发点
From: nanpu
# 到达点
To: shengshan
# 购买日期
Date: '2021-05-01'

# 定制化
Customization:
  # 汽车最晚的开车时间
  LatestBusTime: ''
  # 船最早的开船时间
  MinShipTime: "10:00"
  # 船最晚的开车时间
  LatestShipTime: ''
  # 指定航班
  LineNum: ''
  # 指定舱位
  Class: ''

# 目的地字典
PortNo:
  nanpu: 1046
  shengshan: 1016
  shengsi: 1010
  huaniao: 1014
  gouqi: 1017
  shenjiawan: 1028
  sijiao: 1010

Notice:
  flag: false
  companyWx: ""
  toUser: "mailto@me.com"
  salt: ""
